* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #f4f6fa;
}

.main-wrapper {
    min-width: 1200px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #f5f5ff;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}

.content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #efefef;
}

.info {
    padding-bottom: 4px;
    border-bottom: 2px solid #f4f6fa;
    font-size: 18px;
    color: #37474f;
}
.name {
    text-align: center;
}

.info p {
    font-weight: 700;
    margin-bottom: 8px;
    color: #455a64;
    display: block;
}
.info span {
    color: #78909c;
}
.table-wrapper {
    padding-top: 28px;
}
  
.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper table thead {
    background-color: #f5f8ff;
    border-radius: 4px;
}

.table-wrapper table th,
.table-wrapper table td {
  padding: 20px 24px;
  font-weight: 700;
  text-align: left;
}

.table-wrapper table td {
    color: #37474f;
    border-bottom: 3px solid #f5f8ff;
}



.btn-html {
    background-color: #fbe9e7;
    color: #d84315;
}
  
.btn-demo,.btn-css  {
    background-color: #e3f2fd;
    color: #1565c0;
}

.btn-code{
    background-color: #e8f5e9;
    color: #2e7d32;
}

a.btn, span.capsule {
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  margin: 6px 0 0;
}

.btn-js {
    background-color: #fffde7;
    color: #f9a825;
}

.btn-nodemo {
    background-color: #eceff1;
    color: #37474f;
    opacity: 0.5;
    pointer-events: none;
}