* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.text-white {
  color: #dff;
}
.text-black {
  color: #2c2c2c;
}
// font-family: 'Poppins', sans-serif;
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
