@use "../../../assets/scss/style.scss" as *;

.inputField {
  margin-bottom: 4px;
  .label {
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: bold;
    color: $textColor;
  }
  .input {
    width: 100%;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 3px;
    height: 40px;
    width: 100%;
    outline: none;
    border: 2px solid $inputBorderColor;
    font-family: "Ubuntu", sans-serif;
  }
  .textarea {
    width: 100%;
    height: auto;
    padding: 5px;
    border: 2px solid $inputBorderColor;
    font-family: inherit;
  }
  .passwordContainer {
    position: relative;
    input {
      padding-right: 24px;
    }

    svg {
      position: absolute;
      top: 12px;
      right: 5px;
    }
  }
  .invalid {
    border-color: $error;
  }
  .error {
    font-size: 13px;
    color: $error;
    height: 18px;
  }
}