@use "../../../assets/scss/style.scss" as *;
 
.postContainer {
 border: 1px solid $borderColor;
 background-color: $white;
 border-radius: 5px;
 margin-bottom: 15px;
 padding: 5px 10px 17px;
 .postOwnerInfo {
   padding: 12px 0;
   position: relative;
 
   .ownerImg {
     float: left;
   }
   .ownerAndDot {
     float: left;
     width: 80%;
     .ownerInfo {
       float: left;
       margin-top: 4px;
       a{
        text-decoration: none;
       }
       .ownerName {
         font-family: "Poppins", sans-serif;
         font-weight: bold;
         color: $dark;
       }
       .postStartTime {
         font-size: 12px;
         color: $faded;
       }
     }
     .dot_div {
       float: right;
     }
   }
 }
 .hr {
   border: 1px solid $borderColor;
   margin: 0 auto 10px;
 }
 
 @media screen and (min-width: 768px) {
   .postOwnerInfo {
     .ownerAndDot {
       width: 88%;
     }
   }
 }
 @media screen and (min-width: 992px) {
 }
 @media screen and (min-width: 1128px) {
 }
}