@use "../../../assets/scss/style.scss" as *;
.postContent {
 margin: 0 8px;
 a {
   text-decoration: none;
 }
 
 .postTitle {
   font-family: "Poppins", sans-serif;
   color: $dark !important;
   font-size: 24px;
   margin-bottom: 10px;
 }
 .postDesc {
   margin-bottom: 10px;
   color: $textColor;
 }
 .status {
   margin-bottom: 10px;
 }
 .viewBtn {
   float: left;
   button {
     background-color: transparent;
     border: 1px solid $secondary;
     color: $secondary;
     &:hover {
       background-color: $secondary;
       color: $white;
     }
   }
 }
 .donateBtn {
   float: left;
   margin-left: 10px;
 }
}