@use "../../../assets/scss/style.scss" as *;

.progressBar-container {
  width: 100%;
  .progressBar {
    width: 100%;
  }
  .progressText {
    color: $dark;
  }
  .raisedAmount {
    font-weight: bold;
  }
}