@use "../../../../assets/scss/style.scss" as *;

.dropdown-container {
  float: right;
  margin-top: 15px;
  .toggler {
    cursor: pointer;
    img {
      transition: transform 150ms;
      &.isOpen {
        transform: rotate(180deg);
      }
    }
  }
  .menu {
    border: 1px solid #f1f1f1;
    background-color: #f8f8f8;
    width: 225px;
    position: absolute;
    right: 30px;
    top: 60px;
    .menu-item {
      cursor: pointer;
      padding: 4px 8px;
      transition: background-color 200ms;
      &:hover {
        background-color: #fdfdfd;
      }

      .nav-userDetail-container {
        border-bottom: 1px solid $borderColor;
        .avatarImg {
          float: left;
          width: 30%;
          img {
            width: 45px;
            height: 45px;
          }
        }
        .userName {
          float: right;
          font-weight: 500;
          line-height: 14px;
          padding-top: 10px;
          width: 70%;
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .menu {
      right: 8%;
    }
  }
}
