* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    min-width: 700px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #f5f5ff;
}

.container {
    width: 700px;
    margin: 0 auto;
    padding: 30px;
}

.box-wrapper {
    background-color: #ffffff;
    padding: 50px 70px;
    border-radius: 3px;
}

.btn {
    border: 0;
    border-radius: 5px;
    background-color: #00B000;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 22px;
    cursor: pointer;
    margin-bottom: 10px;
}

.box {
    border-radius: 3px;
    width: 500px;
    height: 440px;
    border: 1px solid #868686;
    position: relative;
    overflow: hidden;
}

.balloon {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}