* {
    margin: 0;
    padding: 0;
}

.poppins {
    font-family: "Poppins", serif;
}

.main-wrapper {
    max-width: 600px;
    font-family: "Poppins", serif;
}

.btn {
    color: #ffffff;
    background: transparent;
    padding: 20px 36px;
    border: 1px solid #ffffff;
    border-radius: 39px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* header */

.header-wrapper {
    background: linear-gradient(to top right, #37bda6 0%, #cb1ae8 100%);
    font-family: "Poppins", serif;
}

.header {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.left-container {
    float: left;
}

.center-right-container {
    float: right;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: transform 320ms;
    padding: 5px;
}

.footer-link:hover {
    transform: scale(1.1);
}

button {
    transition: transform 320ms;
}

button:hover,
.icon :hover,
.left-container:hover {
    transform: scale(1.1);
}

.right-container {
    float: right;
    margin-top: 20px;
}

.nav {
    display: none;
}

.signup-btn {
    float: left;
    font-weight: 500;
    font-size: 16px;
    /* padding: 14px 35px; */
}

.nav-menu {
    float: right;
    margin-left: 12px;
}

.header-content {
    text-align: center;
    color: #ffffff;
}

.left-btn {
    background-color: #ffffff;
    color: #112d57;
}

.heading {
    margin: 0 auto 27px;
    font-size: 46px;
    font-weight: 500;
    line-height: 57px;
}

.sub-head {
    padding: 10px;
}

.text-content {
    width: 69%;
    margin: 55px auto 61px auto;
}

.sub-head {
    font-size: 16px;
    font-weight: 700;
    color: #e5e5e5;
}

.buttons .btn {
    display: block;
    width: 65%;
    font-weight: 500;
    margin: 20px auto;
}

.buttons .left-btn {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

.dashboard img {
    width: 68%;
    margin: 90px auto 40px;
}


/* Specifically for you */

.card-wapper {
    margin: 50px 0;
}

.main-heading {
    width: 80%;
    margin: 100px auto;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    margin: 100px auto 50px;
}

.card-content {
    width: 80%;
    margin: 0 auto;
}

.card {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px 30px 50px 30px;
    border: 1px solid #dedede;
    box-sizing: border-box;
    /* shadow */
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.card2 {
    background: linear-gradient(to top right, #37bda6 0%, #cb1ae8 100%);
    font-family: "Poppins", serif;
    color: #ffffff;
    margin: 60px 0;
}

.card-heading {
    font-size: 30px;
    font-size: 20px;
    font-weight: 700;
    margin: 25px 0;
}

.card p {
    font-weight: 400;
    margin-bottom: 25px;
}

.card a {
    text-decoration: none;
    color: #03d6f3;
}

.card2 a {
    color: #ffffff;
}


/* End of specifically for you */

.contain3 {
    width: 80%;
    margin: 150px auto 0;
}

.title {
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 27px;
}

.description {
    font-size: 16px;
    font-weight: 700;
    color: #5c5c5c;
}

.text-container {
    margin-bottom: 98px;
}

.img-container,
.img-container1,
.img-container2 {
    width: 80%;
    margin: 0 auto 88px;
}

.img-container img,
.img-container1 img,
.img-container2 img {
    width: 100%;
}

.btn2 {
    border: none;
    background-color: #03d6f3;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto 22px;
    padding: 16px 48px;
    display: block;
}

.desktop-title {
    display: none;
}

.btn-outline {
    border: 1px solid #03d6f3;
    color: #03d6f3;
    background-color: white;
}

.perfect-solution {
    margin-bottom: 150px;
    padding-bottom: 150px;
    border-bottom: 1px solid #cdcdcd;
}

.subscribe-wrapper {
    margin: 50px auto;
}

.subscribe-content {
    text-align: center;
    margin-bottom: 69px;
}

.subscribe-heading {
    font-size: 46px;
    font-weight: 500;
}

.subscribe-description {
    color: #5c5c5c;
}

.email-container {
    width: 80%;
    margin: auto;
}

.email-input {
    width: 95%;
    margin: 0 auto 15px;
    display: block;
    padding: 20px;
    font-size: 18px;
    background: #efefef;
    text-align: center;
    box-sizing: border-box;
}

.subscribe-btn {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 95%;
    font-size: 18px;
    border-radius: 5px;
    padding: 24px;
    cursor: pointer;
}

footer {
    margin: 0px auto;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    background-color: #112d57;
}

.footer-wrapper {
    width: 90%;
    padding: 60px 0;
    margin: auto;
}

.price-item-container {
    text-align: center;
    max-width: 300px;
}

ul {
    list-style: none;
}

.left-col {
    float: left;
}

.right-col {
    float: right;
}

.msg-p {
    float: left;
    font-size: 12px;
    font-weight: 700;
    margin: 36px 0;
}

.footer {
    width: 100%;
    margin: 0 auto;
}

.footer-left-container {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

.footer-center-container {
    max-width: 600px;
    margin: 40px auto 60px;
}

.OpenType-lm {
    margin: 27px 0 70px;
}

.social-media-icon {
    width: 170px;
}

.add {
    margin-bottom: 10px;
}

.add .text {
    vertical-align: 17px;
}

.text1 {
    vertical-align: 13px;
}

.icon {
    display: inline-block;
}

.icon-mar {
    margin: 0 25px;
}

.footer-link {
    margin-bottom: 20px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 220px;
    width: 290px;
    overflow: hidden;
    background: none !important;
    border-radius: 22px;
}

.contact {
    margin-bottom: 40px;
}


/* Tablet */

@media only screen and (min-width: 600px) {
    .main-wrapper {
        max-width: 100%;
    }
    .heading {
        margin: 0 auto 27px;
        font-size: 55px;
        font-weight: 900;
    }
    .buttons .btn {
        display: inline;
        /* width: 32%; */
        max-width: 230px;
        padding: 18px 56px;
    }
    .buttons .left-btn {
        margin-bottom: 0;
        margin-right: 25px;
    }
    .main-heading {
        font-size: 46px;
        width: 65%;
        margin: 100px auto;
        text-align: center;
        font-weight: 500;
        line-height: 57px;
        margin: 100px auto 50px;
    }
    .card-heading {
        font-size: 30px;
    }
    /* Specifically for you */
    .card {
        width: 80%;
    }
    .card2 {
        margin: 60px auto;
    }
    .price-item-container {
        margin-top: 20px;
        margin: auto;
    }
    .left-col {
        float: left;
        margin-right: 40px;
    }
    .right-col {
        float: left;
    }
    .footer-center-right-container {
        float: right;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
    .footer-right-container {
        float: left;
        width: 50%;
        margin: 0 auto;
    }
    .contact {
        margin-left: 30px;
    }
    .footer-center-container {
        float: left;
        width: 50%;
        margin: 0 auto;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 220px;
        width: 280px;
        overflow: hidden;
        background: none !important;
        border-radius: 22px;
        margin: auto;
    }
    .add .text {
        font-size: 14px;
    }
    .add {
        margin-bottom: 0px;
    }
    .contact span {
        margin-top: 30px;
    }
    .btn-container {
        display: block;
        margin: auto;
    }
    .btn2 {
        display: inline;
        margin-right: 22px;
        padding: 18px 46px;
    }
}


/* Desktop */

@media only screen and (min-width: 1100px) {
    .main-wrapper {
        max-width: 100%;
    }
    .center-right-container {
        width: 68%;
    }
    .center-container {
        float: left;
        margin: 46px 0;
    }
    .right-container {
        margin: 33px 0;
    }
    .left-container {
        margin: 21px 0px;
    }
    .nav {
        display: block;
        list-style: none;
        float: right;
    }
    .nav-link {
        float: left;
        margin-right: 50px;
        font-family: "Poppins", serif;
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        padding: 10px;
    }
    .nav-link:hover {
        transform: scale(1.2);
    }
    .signup-btn {
        float: right;
        /* margin: 30px 0; */
    }
    .nav-menu {
        display: none;
    }
    .heading {
        width: 65%;
        font-size: 55px;
        font-weight: 900;
        margin: 0 auto 27px;
    }
    .header-content {
        margin: 73px auto 0;
    }
    /* Specifically for you */
    .main-heading {
        width: 50%;
        margin-bottom: 100px;
    }
    .title {
        margin-bottom: 46px;
    }
    .text-container {
        width: 50%;
        float: left;
        margin-bottom: 36px;
        margin-top: 36px;
    }
    .img-container {
        width: 50%;
        float: right;
        margin-bottom: 0;
    }
    .card {
        width: 29%;
        min-height: 455px;
    }
    .card1 {
        float: left;
    }
    .card2 {
        float: left;
        display: block;
        margin: 0 0 0 7%;
    }
    .card3 {
        float: right;
    }
    .btn-container {
        float: left;
    }
    .btn2 {
        display: inline;
        margin-right: 22px;
        padding: 18px 46px;
    }
    .contain3 {
        width: 80%;
        max-width: 1140px;
    }
    .text-container1 {
        width: 50%;
        float: right;
        margin-bottom: 36px;
        margin-top: 36px;
    }
    .img-container1 {
        width: 50%;
        float: left;
        margin-bottom: 0;
    }
    .text-container2 {
        width: 45%;
        float: left;
        margin-bottom: 26px;
        margin-top: 26px;
    }
    .text-container2 .title {
        line-height: 55px;
    }
    .desktop-title {
        display: block;
    }
    .mob-title {
        display: none;
    }
    .img-container2 {
        float: right;
        margin-bottom: 0;
        width: 55%;
    }
    .OpenType-lm {
        display: none;
    }
    .subscribe-wrapper {
        width: 70%;
        margin: 0 auto 170px;
        text-align: center;
    }
    .email-container {
        width: 90%;
    }
    .email-input {
        width: 40%;
        text-align: left;
        display: inline;
        margin: 0;
        border-radius: 15px;
        border: #d0d0d0 1px solid;
    }
    .subscribe-btn {
        padding: 22px 32px;
        width: auto;
        border-radius: 40px;
    }
    .btn3 {
        display: inline;
        margin-right: 22px;
        padding: 18px 46px;
        background: #efefef;
        border: 1px solid #d0d0d0;
        box-sizing: border-box;
        border-radius: 6px;
    }
    .footer-wrapper {
        width: 86%;
        max-width: 1134px;
    }
    .footer-left-container {
        margin-top: 20px;
        width: auto;
    }
    .footer-center-right-container {
        float: right;
        width: 68%;
    }
    .footer-right-container {
        margin-top: 20px;
        float: right;
    }
    .footer-center-container {
        float: left;
        margin: 0;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 240px;
        width: 340px;
        overflow: hidden;
        background: none !important;
        border-radius: 22px;
        margin: 0;
    }
}