@use "../../../assets/scss/style.scss" as *;

.donate-content {
  .title {
    color: $primary;
  }
  .description {
    color: $textColor;
    margin-bottom: 16px;
    margin-top: 8px;
  }
  label {
    color: $dark;
    display: block;
    color: $dark;
    margin-top: 10px;
  }
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 2px;
    border: 2px solid #cacaca;
    font-family: inherit;
  }
}