.home-container {
  .user_info {
    padding: 10px;
    padding-top: 0;
  }
  .main {
    width: 100%;
    height: calc(100vh - 110px);
    overflow-y: auto;
  
    padding: 0 10px;
  }
  
  @media screen and (min-width: 768px) {
    .user_info {
      width: 27%;
      float: left;
    }
    .main {
      width: 72%;
      float: right;
    }
  }
  @media screen and (min-width: 992px) {
  }
 }
 