@use "../../../assets/scss/style.scss" as *;

.signUpContainer {
  .signupText {
    display: block;
    margin-top: 40px;
    font-size: 16px;
    color: $faded;
  }
  .signUpLinkBtn {
    color: $primary;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}
.signUPModal {
  .subitBtn {
    margin-top: 15px;
  }
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

    .logoTitle {
      color: $primary;
      font-size: 28px;
      margin: 0;
      position: relative;
      margin-left: 12px;

      .logoImg {
        width: 50px;
        object-fit: contain;
        position: absolute;
        left: -70px;
        top: -5px;
      }
      @media screen and (min-width: 768px) {
        font-size: 32px;
        .logoImg {
          width: 60px;
        }
      }
    }
  }
  .welcomeText {
    text-align: center;
    font-size: 18px;
    color: $faded;
    margin: 0 auto 20px;
    font-weight: 500;
    width: 90%;
    line-height: 26px;
  }
  .fa{
    position: absolute;
top: 12px;
right: 12px;
cursor: pointer;
  }
}