.SignUpContainer {
  .signupText {
    display: block;
    margin-top: 40px;
    font-size: 16px;
    color: #818181;
  }
  .signUpBtn {
    margin-left: 10px;
    color: #58a9d7;
    text-decoration: none;
    cursor: pointer;
  }
  .subitBtn{
      margin-top: 15px;
  }
}
